# streamlit
# langchain
# langchain-community
# langchain-core
# langchain-pinecone
# sentence-transformers
# faiss-cpu
# openai
# tiktoken
# huggingface-hub
# pinecone-client


# Core Framework
streamlit

# LLM + Azure/OpenAI
openai
python-dotenv

# LangChain ecosystem
langchain
langchain-pinecone==0.2.3
langchain-community

# Vector DB (Modern Pinecone SDK)
pinecone==5.4.2

# Embeddings + NLP
sentence-transformers

# Document handling
python-docx
PyPDF2

